/* ==========================================================================
   Author's custom styles
   ========================================================================== */

   ::-webkit-input-placeholder {
    font-style: italic;
 }
 :-moz-placeholder {
    font-style: italic;  
 }
 ::-moz-placeholder {
    font-style: italic;  
 }
 :-ms-input-placeholder {  
    font-style: italic; 
 }

.input-group {
   padding-bottom: 8px;
}

img {
   background-color: black
}

.data-head {
   margin-left: 10px;
}

.jumbotron {
   padding-top: 75px;
   padding-bottom: 75px;
}


.card-body {
   background-color: darkslategray;
   color: white;
}
.card-body > h3 > img {
   background-color: black;
   padding-right: 0px;
   margin-right: 6px;
}










