/* ==========================================================================
   Author's custom styles
   ========================================================================== */

   ::-webkit-input-placeholder {
    font-style: italic;
 }
 :-moz-placeholder {
    font-style: italic;  
 }
 ::-moz-placeholder {
    font-style: italic;  
 }
 :-ms-input-placeholder {  
    font-style: italic; 
 }

.input-group {
   padding-bottom: 8px;
}

img {
   padding-right: 2px;
}

.data-head {
   margin-left: 10px;
}

.jumbotron {
   padding-top: 25px;
   padding-bottom: 25px;
}











